name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest
    if: "!github.event.pull_request.draft"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Pull LFS
        uses: cresh-io/action-cached-git-lfs-pull@v1

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
